.instruction {
    background-color: #ffffff;
    position: relative;
    padding-top: 60px;

    @media screen and (min-width: 1280px) {
        padding-top: 108px;
    }

    .container {
        padding: 0 20px;

        @media screen and (min-width: 982px) {
            padding: 0 112px 0 114px;
        }
    }

    &__num {
        display: none;
        position: absolute;
        top: 110px;
        right: 113px;
        color: #e7e3db;

        @media screen and (min-width: 806px) {
            display: block;
        }

        @media screen and (min-width: 1280px) {
            display: block;
            top: 0px;
        }
    }

    &__title {
        max-width: 876px;
        width: 100%;
        margin-bottom: 60px;
        text-align: center;
        font-size: 30px;
        line-height: 45px;

        @media screen and (min-width: 768px) {
            font-size: 48px;
            text-align: left;
            margin-bottom: 114px;
        }
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__inner {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 70px;
        margin-bottom: 50px;
        justify-content: center;
        width: 100%;

        @media screen and (min-width: 768px) {
            grid-template-columns: repeat(2, 1fr);
            margin-bottom: 100px;
        }

        @media screen and (min-width: 982px) {
            grid-template-columns: repeat(3, 1fr);
            row-gap: 50px;
        }

        @media screen and (min-width: 1380px) {
            grid-template-columns: 119px 170px 151px 170px 109px 170px;
            gap: 65px;
        }
    }

    &__box {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        position: relative;

        &::after {
            position: absolute;
            top: 110px;
            left: 50%;
            transform: translateX(-50%) rotate(90deg);
            content: "";
            width: 16px;
            height: 16px;
            background-image: url(../img/instruction/arrows.svg);
            background-size: contain;

            @media screen and (min-width: 768px) {
                top: 12px;
                left: 92px;
                transform: rotate(0deg);
            }
            @media screen and (min-width: 1440px) {
                top: 12px;
            }
        }

        &:nth-child(2) {
            &::after {
                top: 170px;
                left: 50%;
                transform: translateX(-50%) rotate(90deg);

                @media screen and (min-width: 768px) {
                    top: 12px;
                    left: 92px;
                    transform: rotate(0deg);
                }
                @media screen and (min-width: 1440px) {
                    top: 12px;
                    left: 140px;
                }
            }
        }

        &:nth-child(3) {
            &::after {
                top: 150px;
                left: 50%;
                transform: translateX(-50%) rotate(90deg);
                @media screen and (min-width: 768px) {
                    top: 12px;
                    left: 92px;
                    transform: rotate(0deg);
                }
                @media screen and (min-width: 1440px) {
                    left: 118px;
                }
            }
        }

        &:nth-child(4) {
            &::after {
                top: 130px;
                left: 50%;
                transform: translateX(-50%) rotate(90deg);
                @media screen and (min-width: 768px) {
                    top: 12px;
                    left: 92px;
                    transform: rotate(0deg);
                }
                @media screen and (min-width: 1440px) {
                    top: 12px;
                    left: 130px;
                }
            }
        }

        &:last-child {
            &::after {
                display: none;
            }
        }

        @media screen and (min-width: 768px) {
            min-width: 119px;
            grid-template-columns: repeat(2, 1fr);
            align-items: flex-start;

            &:nth-child(2) {
                max-width: 170px;
                width: 100%;
            }

            &:nth-child(3) {
                max-width: 151px;
                width: 100%;
            }

            &:nth-child(4) {
                max-width: 170px;
                width: 100%;
            }

            &:last-child {
                max-width: 170px;
                width: 100%;
            }
        }
    }

    &__img-box {
        position: relative;
        margin-bottom: 20px;
    }

    &__text {
        font-size: 15px;
        font-weight: 400;
        line-height: 20px;
        text-align: center;
        max-width: 200px;
        width: 100%;

        @media screen and (min-width: 768px) {
            text-align: left;
            max-width: none;
        }
    }

    &__btn {
        min-height: 57px;
        max-width: 512px;
        width: 100%;
        border: none;
        border-radius: 5px;
        background-color: #000000;
        color: #ffffff;
        font-size: 13px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        padding: 0 30px;
        transition: all 0.3s ease;
        img {
            transition: all 0.3s ease;
        }
        &:hover {
            background-color: #e7e3db;
            color: #000;
            img {
                filter: invert(1);
            }
        }
    }

    &__icon {
        margin-right: 15px;
    }
}
