.owners {
    max-width: 994px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 160px;

    &__num {
        color: #e7e3db;
        right: -100px;
        top: 0;
        display: none;
        @media screen and (min-width: 1200px) {
        display: block;
        }
    }

    &__top {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;
        
        @media screen and (min-width: 1070px) {
            min-height: 76px;
        padding-top: 15px;
        max-width: 564px;
        margin-bottom: 85px;
        display: block;
        }
    }

    &__title{
        text-align: center;
        font-size: 30px;
        line-height: 45px;
        margin-bottom: 10px;
        @media screen and (min-width: 1070px) {
        text-align: left;
        margin-bottom: 0;
        }
    }

    &__subtitle {
        font-size: 16px;
        line-height: 28px;
        color: #000000;
        text-align: center;
        @media screen and (min-width: 1070px) {
        text-align: left;
        font-size: 20px;
        line-height: 38px;
        }
    }

    &__block {
        // display: block;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;
        border: 2px solid #e7e3db;
        padding: 40px;

        @media screen and (min-width: 800px) {
            flex-direction: row;
        }

        @media screen and (min-width: 1070px) {
            // flex-direction: column;
            border: 2px solid #e7e3db;
            width: 100%;
            max-width: 795px;
            margin: auto;
            padding: 44px 90px;
            margin-bottom: 400px;
            
        }

        &:last-child {
            margin-bottom: 0;
        }

        &_right {
            .owners__block {
                &-pic {
                    
                    @media screen and (min-width: 1070px) {
                        top: auto;
                    right: -85px;
                    left: auto;
                    bottom: 55px;
                    }
                }

                &-text {
                    
                    @media screen and (min-width: 1070px) {
                        margin-right: auto;
                        margin-left: 0;
                    }
                }
            }
        }
    }

    &__block-pic {
        display: flex;
        justify-content: center;
        margin-bottom: 15px;


        @media screen and (min-width: 1070px) {
            position: absolute;
            left: -85px;
            top: 55px;
            width: 401px;
            height: 510px;
            z-index: 2;
            justify-content: flex-start;
        }

        img {
            width: 80%;
            height: 100%;
            object-fit: cover;
            display: block;
            @media screen and (min-width: 1070px) {
                width: 100%;
            }
        }

    }

    &__block-text {
        text-align: center;
        max-width: 400px;
        width: 100%;
        font-size: 25px;
        line-height: 40px;
        
        @media screen and (min-width: 600px) {
        font-size: 30px;
        }
        @media screen and (min-width: 1070px) {
            font-size: 20px;
        line-height: 38px;
        color: #000000;
        max-width: 343px;
        margin-left: auto;
        text-align: left;
        }
    }
}
