.program {
    width: 100%;
    overflow: hidden;
    &__inner {
        padding: 0;
        @media screen and(min-width: 992px){
            padding-left: 60px;
        }
        
        @media screen and(min-width: 1220px) {
            max-width: 1220px;
            margin-left: auto;
            margin-right: auto;
        }

        @media screen and(min-width: 1300px) {
            padding-left: 0px;
        }
        
    }

    &__top {
        display: flex;
        align-items: center;
    }

    &__title {
        max-width: 617px;
        font-size: 30px;
        line-height: 35px;
        text-align: center;
        
        @media screen and (min-width: 680px){
            margin-right: 72px;
            font-size: 48px;
            line-height: 65px;
            text-align: left;
            padding-left: 40px;
        }
    }

    &__num {
        color: #e7e3db;
        position: static;
        margin-right: auto;
        display: none;
        @media screen and (min-width: 680px){
            display: flex;
        }
    }

    &__slider-actions {
        width: 100px;
        height: 135px;
        align-items: flex-end;
        display: none;
        @media screen and (min-width: 1220px){
            display: flex;
        }
        button {
            display: flex;
            align-items: center;
            justify-content: center;
            border: none;
            cursor: pointer;
            background: none;
            height: 22px;
            svg {
                width: 9.2px;
                height: 12.8px;
            }
        }
    }

    &__slider-nums {
        display: flex;
        align-items: center;
        justify-content: center;
        position: static;
    }

    &__slider {
        margin-top: 40px;
        @media screen and (min-width: 992px) {
            margin-top: 130px;
        }
        .swiper-wrapper{
            display: flex;
            align-items: center;
            flex-direction: column;
            
            @media screen and (min-width: 992px) {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
            }

            @media screen and (min-width: 1220px){
                display: flex;
                flex-direction: row;
            }
            
        }
        .swiper-slide {

            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            margin-bottom: 50px;
            @media screen and (min-width: 1220px) {
                max-width: 318px;
            }
            &::before {
                content: "";
                border: 1px solid #000000;
                min-width: 230px;
                width: 100%;
                height: 230px;
                display: block;
                position: absolute;
                top: 30px;
                left: 0;
                display: none;

                @media screen and (min-width:820px) {
                    display: block;
                    max-width: none;
                }
                @media screen and (min-width: 992px) {
                    max-width: none;
                    top: 120px;
                }
                @media screen and (min-width: 1220px) {
                    max-width: none;
                    top: 88px;
                }
            }
            &__pic {
                
                width: 100%;
                display: block;
                margin: auto;
                margin-bottom: 25px;
                position: relative;
                @media screen and (min-width:820px) {
                    width: 210px;
                    height: 200px;
                }

                @media screen and(min-width: 992px) {
                    width: 283px;
                    height: 264px;
                }
                img {
                    width: 100%;
                    height: 100%;
                    display: block;
                    object-fit: cover;
                }
            }
            p {
                font-size: 14px;
                line-height: 17px;
                text-align: center;
                color: #000000;
                background: #fff;
                position: relative;
                @media screen and (min-width:480px) {
                    max-width: 250px;
                    font-size: 20px;
                    line-height: 27px;
                    margin: auto;

                }
            }
            button {
                background: #e7e3db;
                border-radius: 3px;
                font-size: 13px;
                line-height: 18px;
                color: #000000;
                text-align: center;
                display: block;
                width: 100%;
                padding: 10px 0;
                border: none;
                margin-top: 30px;
                cursor: pointer;
            }
        }
    }
}
