.page {
    &__frame {
        position: fixed;
        width: calc(100% - 20px);
        height: calc(100% - 20px);
        border: 1px solid #000000;
        left: 10px;
        top: 10px;
        pointer-events: none;
        z-index: 10;
    }

    &__frame-btn {
        transform: rotate(-90deg) translate(-65px, -10px);
        font-family: "Montserrat", serif;
        display: flex;
        font-weight: normal;
        font-size: 9px;
        line-height: 11px;
        text-transform: uppercase;
        color: #000000;
        display: flex;
        align-items: center;
        border: none;
        background: none;
        cursor: pointer;
        position: relative;
        pointer-events: auto;
        &:hover {
            opacity: 0.5;
        }
    }

    &__frame-burger {
        width: 20px;
        height: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 20px;
        span {
            display: block;
            width: 100%;
            height: 1px;
            background-color: #000000;
        }
    }
}
.num {
    font-size: 160px;
    text-align: center;
    color: #ffffff;
    position: absolute;
    z-index: 1;
    right: 0;
    bottom: 0;
    height: 185px;
}
