.video {
    max-width: 845px;
    margin-left: auto;
    margin-right: auto;
    &__title {
        text-align: center;
        margin-bottom: 80px;
    }

    &__num {
        color: #e7e3db;
        left: -215px;
        width: 205px;
        top: 180px;
    }

    &__slider {
        max-width: 845px;
        overflow: hidden;
        &-pagination {
            position: static;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 20px 0;
            .swiper-pagination-bullet-active {
                background-color: #000;
            }
            .swiper-pagination-bullet {
                width: 10px;
                height: 10px;
            }
        }
    }

    &__btn {
        max-width: 512px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: auto;
        margin-top: 30px;
        background-color: #e7e3db;
        border-radius: 5px;
        border: none;
        padding: 20px;
        font-size: 13px;
        line-height: 18px;
        text-transform: uppercase;
        color: #000000;
        cursor: pointer;
        &::before,
        &::after {
            content: "";
            width: 109px;
            height: 2px;
            background: #000000;
            position: absolute;
            right: calc(100% + 55px);
        }
        &::after {
            right: auto;
            left: calc(100% + 55px);
        }
        svg {
            margin-right: 15px;
            margin-top: -1.5px;
        }
    }
}
