@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Prata&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Prata", serif;
  z-index: 2;
  position: relative;
}

section {
  margin-bottom: 90px;
  position: relative;
}

h2 {
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 65px;
  color: #000000;
}

.page__frame {
  position: fixed;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  border: 1px solid #000000;
  left: 10px;
  top: 10px;
  pointer-events: none;
  z-index: 10;
}

.page__frame-social {
  position: absolute;
  right: 35px;
  bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page__frame-social a:last-child {
  margin-top: 10px;
}

.page__frame-link-top {
  position: absolute;
  right: 0;
  top: 0;
  font-weight: normal;
  font-size: 9px;
  line-height: 11px;
  text-transform: uppercase;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  -webkit-transform: rotate(-90deg) translate(-60px, 0);
      -ms-transform: rotate(-90deg) translate(-60px, 0);
          transform: rotate(-90deg) translate(-60px, 0);
  pointer-events: all;
}

.page__frame-link-top svg {
  margin-left: 15px;
}

.page__frame-link-top:hover {
  opacity: 0.5;
}

.page__frame-btn {
  -webkit-transform: rotate(-90deg) translate(-65px, -10px);
      -ms-transform: rotate(-90deg) translate(-65px, -10px);
          transform: rotate(-90deg) translate(-65px, -10px);
  font-family: "Montserrat", serif;
  font-weight: normal;
  font-size: 9px;
  line-height: 11px;
  text-transform: uppercase;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  background: none;
  cursor: pointer;
  position: relative;
  pointer-events: auto;
}

.page__frame-btn:hover {
  opacity: 0.5;
}

.page__frame-btn span {
  font-size: 47px;
  line-height: 57px;
  color: #000000;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.page__frame-burger {
  width: 20px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 20px;
}

.page__frame-burger span {
  display: block;
  width: 100%;
  height: 1px;
  background-color: #000000;
}

.num {
  font-size: 160px;
  text-align: center;
  color: #ffffff;
  position: absolute;
  z-index: 1;
  right: 0;
  bottom: 0;
  height: 185px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 35px;
  padding-bottom: 33px;
}

.header__social:last-child {
  text-align: right;
}

.header__social-link {
  color: #000000;
  font-size: 20px;
  line-height: 27px;
  text-decoration: none;
  margin-bottom: 12px;
}

.header__social-text {
  color: #000000;
  font-size: 13px;
  line-height: 18px;
  border-bottom: 1px solid #e7e3db;
}

.header__logo-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 130px;
}

.header__logo-img {
  max-width: 150px;
  max-height: 67px;
  margin-bottom: 12px;
}

.header__logo-text {
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  color: #000000;
}

/* ----------------------------------------------
 * Generated by Animista on 2021-8-17 10:31:48
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation slide-in-blurred-top
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-blurred-top {
  0% {
    -webkit-transform: translateY(-200px) scaleY(2.5) scaleX(0.2);
    transform: translateY(-200px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
    transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

@keyframes slide-in-blurred-top {
  0% {
    -webkit-transform: translateY(-200px) scaleY(2.5) scaleX(0.2);
    transform: translateY(-200px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
    transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

.menu {
  position: fixed;
  z-index: 15;
  background-color: #ffffff;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 60px 80px 60px 130px;
}

.menu__btn-close {
  -webkit-transform: rotate(-90deg) translate(-65px, 0);
      -ms-transform: rotate(-90deg) translate(-65px, 0);
          transform: rotate(-90deg) translate(-65px, 0);
  font-family: "Montserrat", serif;
  font-weight: normal;
  font-size: 9px;
  line-height: 11px;
  text-transform: uppercase;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  background: none;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: auto;
}

.menu__btn-close-plus {
  font-size: 47px;
  color: #000000;
  -webkit-transform: rotate(-45deg) translate(-1px, 0px);
      -ms-transform: rotate(-45deg) translate(-1px, 0px);
          transform: rotate(-45deg) translate(-1px, 0px);
  margin-left: 20px;
}

.menu__btn-close:hover {
  opacity: 0.5;
}

.menu__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.menu__list {
  list-style-type: none;
  width: 100%;
  max-width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__list-item {
  margin-bottom: 15px;
}

.menu__list-item a {
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-decoration: none;
  width: 100%;
  max-width: 290px;
  display: block;
}

.menu__list-item a:hover::after {
  -webkit-animation: slide-in-blurred-top 0.6s cubic-bezier(0.23, 1, 0.32, 1) both;
  animation: slide-in-blurred-top 0.6s cubic-bezier(0.23, 1, 0.32, 1) both;
  content: "";
  width: 79px;
  height: 2px;
  background-color: #000000;
  display: block;
  position: absolute;
  right: calc(-50%);
  top: calc(50% - 1px);
}

.menu__list-item:last-child {
  margin-top: auto;
  margin-bottom: 0;
}

.menu__social-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu__social {
  text-align: right;
  margin-bottom: 37px;
}

.menu__social-link {
  color: #000000;
  font-size: 20px;
  line-height: 27px;
  text-decoration: none;
  margin-bottom: 12px;
}

.menu__social-text {
  color: #000000;
  font-size: 13px;
  line-height: 18px;
  border-bottom: 1px solid #e7e3db;
}

.menu__social-short {
  margin-top: auto;
  width: 100%;
  max-width: 120px;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__social-short a {
  display: block;
}

.menu__social-short a:hover {
  opacity: 0.5;
}

.intro {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: calc(100vh - 350px);
  min-height: 410px;
  max-height: 524px;
  margin-bottom: 250px;
}

.intro__num {
  font-size: 240px;
  height: 240px;
  color: #ffffff;
}

.intro__photo-slider {
  max-width: 100vw;
  height: 100%;
  max-height: 544px;
  min-height: 400px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.intro__photo-slider .swiper-slide {
  position: relative;
}

.intro__photo-slider .swiper-slide::before {
  content: "";
  background: rgba(45, 60, 82, 0.22);
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
}

.intro__photo-slider .swiper-slide img {
  width: 100%;
  height: 100%;
  max-height: 544px;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

.intro__inner {
  max-width: 1440px;
  width: 100%;
  margin: auto;
  padding-left: 55px;
}

.intro__title {
  font-weight: lighter;
  position: relative;
  font-size: 60px;
  line-height: 70px;
  color: #ffffff;
  max-width: 685px;
  margin-bottom: 55px;
}

.intro__title span {
  font-size: 32px;
  line-height: 45px;
  color: #f9d59b;
  display: block;
}

.intro__subtitle {
  max-width: 464px;
  position: relative;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  color: #ffffff;
}

.intro__subtitle::before {
  content: "";
  width: 138px;
  height: 1px;
  background-color: #ffffff;
  display: block;
  margin-bottom: 18px;
}

.intro__bottom {
  display: -ms-grid;
  display: grid;
  margin-top: 60px;
  position: absolute;
  bottom: -155px;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 90px;
}

.intro__bottom-link {
  background: #e7e3db;
  border-radius: 5px;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  padding: 0 30px;
  height: 54px;
  margin-top: 13px;
}

.intro__bottom-link_left {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.intro__bottom-link_left img {
  margin-left: 10px;
  height: 17px;
}

.intro__bottom-link_right {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.intro__bottom-link_right img {
  margin-right: 10px;
  height: 22px;
}

.intro__bottom-slider {
  overflow: hidden;
  padding-bottom: 40px;
}

.intro__bottom-slider .swiper-slide {
  text-align: center;
}

.intro__bottom-slider .swiper-slide p {
  max-width: 270px;
  margin: auto;
}

.intro__bottom-slider .swiper-pagination-bullet {
  background: #000000;
}

.program {
  width: 100%;
  overflow: hidden;
}

.program__inner {
  max-width: 1220px;
  margin-left: auto;
  margin-right: auto;
}

.program__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.program__title {
  max-width: 617px;
  margin-right: 72px;
}

.program__num {
  color: #e7e3db;
  position: static;
  margin-right: auto;
}

.program__slider-actions {
  width: 100px;
  height: 135px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.program__slider-actions button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  cursor: pointer;
  background: none;
  height: 22px;
}

.program__slider-actions button svg {
  width: 9.2px;
  height: 12.8px;
}

.program__slider-nums {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: static;
}

.program__slider {
  margin-top: 130px;
}

.program__slider .swiper-slide {
  max-width: 318px;
  position: relative;
}

.program__slider .swiper-slide::before {
  content: "";
  border: 1px solid #000000;
  width: 100%;
  height: 230px;
  display: block;
  position: absolute;
  top: 88px;
  left: 0;
}

.program__slider .swiper-slide__pic {
  width: 283px;
  height: 264px;
  display: block;
  margin: auto;
  margin-bottom: 25px;
  position: relative;
}

.program__slider .swiper-slide__pic img {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.program__slider .swiper-slide p {
  margin: auto;
  max-width: 250px;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: #000000;
  background: #fff;
  position: relative;
}

.program__slider .swiper-slide button {
  background: #e7e3db;
  border-radius: 3px;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-align: center;
  display: block;
  width: 100%;
  padding: 10px 0;
  border: none;
  margin-top: 30px;
  cursor: pointer;
}

.how {
  background-color: #1a1a1a;
  overflow: hidden;
}

.how input {
  display: none;
}

.how::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  background: url("../img/how-back.svg") no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.how__inner {
  padding-top: 150px;
  padding-bottom: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1290px;
  margin-left: auto;
  margin-right: auto;
}

.how__content {
  width: 100%;
  max-width: 464px;
  min-height: 500px;
  max-height: 550px;
  border: 1px solid #ffffff;
  padding: 30px;
  margin-top: 130px;
  margin-right: 100px;
}

.how__content-box {
  display: none;
}

.how__content-title {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.how__content-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 45px;
}

.how__content-list-pic {
  position: absolute;
  right: 148px;
  max-width: 470px;
  overflow: hidden;
}

.how__content-list-pic img {
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.how__content-list-pic:hover img {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.how__content-list ul {
  margin-left: auto;
  width: 148px;
  list-style-type: none;
  margin-top: 30px;
}

.how__content-list ul li {
  font-size: 15px;
  line-height: 20px;
  color: #ffffff;
  padding-left: 40px;
  padding-bottom: 5px;
  border-bottom: 1px dashed #f9d59b;
  margin-bottom: 25px;
}

.how__content-list ul li:last-child {
  border: none;
  margin-bottom: 0;
}

.how__content-subtitle {
  font-size: 10px;
  line-height: 14px;
  color: #e7e3db;
  margin-top: 10px;
}

.how__content-grid {
  width: 570px;
  height: 340px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  position: absolute;
  right: 0;
  margin-top: 25px;
}

.how__content-grid-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-bottom: 10px;
  overflow: hidden;
}

.how__content-grid-item p {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 15px;
  line-height: 20px;
  color: #dbdbdb;
}

.how__content-grid-item::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  -webkit-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.how__content-grid-item:first-child {
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 3;
}

.how__content-grid-item:last-child {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 4;
}

.how__content-grid-item img {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.how__content-grid-item:hover::before {
  background-color: rgba(0, 0, 0, 0);
}

.how__content-grid-item:hover img {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.how__body-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 35px;
}

.how__title {
  color: #ffffff;
  margin-right: 15px;
  max-width: 510px;
}

.how__num {
  color: #f9d59b;
  position: static;
}

.how__subtitle {
  font-size: 20px;
  line-height: 27px;
  color: #f9d59b;
  max-width: 586px;
  margin-bottom: 75px;
}

.how__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 70px;
  max-width: 580px;
  list-style-type: none;
}

.how__list-item {
  display: block;
}

.how__list-item label {
  cursor: pointer;
  font-size: 15px;
  line-height: 20px;
  color: #ffffff;
  padding: 10px 5px 10px 20px;
  display: block;
  border: 2px solid transparent;
  border-left: 2px solid #ffffff;
  height: 100%;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.how__list-item label:hover {
  border: 2px solid #ffffff;
}

#how0:checked ~ .how__inner .box-0,
#how1:checked ~ .how__inner .box-1,
#how2:checked ~ .how__inner .box-2,
#how3:checked ~ .how__inner .box-3,
#how4:checked ~ .how__inner .box-4,
#how5:checked ~ .how__inner .box-5,
#how6:checked ~ .how__inner .box-6,
#how7:checked ~ .how__inner .box-7,
#how8:checked ~ .how__inner .box-8 {
  display: block;
}

#how0:checked ~ .how__inner #how-label-0,
#how1:checked ~ .how__inner #how-label-1,
#how2:checked ~ .how__inner #how-label-2,
#how3:checked ~ .how__inner #how-label-3,
#how4:checked ~ .how__inner #how-label-4,
#how5:checked ~ .how__inner #how-label-5,
#how6:checked ~ .how__inner #how-label-6,
#how7:checked ~ .how__inner #how-label-7,
#how8:checked ~ .how__inner #how-label-8 {
  border: 2px solid #f9d59b;
  color: #f9d59b;
}

.video {
  max-width: 845px;
  margin-left: auto;
  margin-right: auto;
}

.video__title {
  text-align: center;
  margin-bottom: 80px;
}

.video__num {
  color: #e7e3db;
  left: -215px;
  width: 205px;
  top: 180px;
}

.video__slider {
  max-width: 845px;
  overflow: hidden;
}

.video__slider-pagination {
  position: static;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
}

.video__slider-pagination .swiper-pagination-bullet-active {
  background-color: #000;
}

.video__slider-pagination .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
}

.video__btn {
  max-width: 512px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin: auto;
  margin-top: 30px;
  background-color: #e7e3db;
  border-radius: 5px;
  border: none;
  padding: 20px;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  cursor: pointer;
}

.video__btn::before, .video__btn::after {
  content: "";
  width: 109px;
  height: 2px;
  background: #000000;
  position: absolute;
  right: calc(100% + 55px);
}

.video__btn::after {
  right: auto;
  left: calc(100% + 55px);
}

.video__btn svg {
  margin-right: 15px;
  margin-top: -1.5px;
}

.owners {
  max-width: 994px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 160px;
}

.owners__num {
  color: #e7e3db;
  right: -100px;
  top: 0;
}

.owners__top {
  min-height: 76px;
  padding-top: 15px;
  max-width: 560px;
  margin-bottom: 85px;
}

.owners__subtitle {
  font-size: 20px;
  line-height: 38px;
  color: #000000;
}

.owners__block {
  display: block;
  border: 2px solid #e7e3db;
  width: 100%;
  max-width: 795px;
  margin: auto;
  padding: 44px 90px;
  margin-bottom: 400px;
}

.owners__block:last-child {
  margin-bottom: 0;
}

.owners__block_right .owners__block-pic {
  top: auto;
  right: -85px;
  left: auto;
  bottom: 55px;
}

.owners__block_right .owners__block-text {
  margin-right: auto;
  margin-left: 0;
}

.owners__block-pic {
  position: absolute;
  width: 401px;
  height: 510px;
  z-index: 2;
  left: -85px;
  top: 55px;
}

.owners__block-pic img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

.owners__block-text {
  font-size: 20px;
  line-height: 38px;
  color: #000000;
  max-width: 343px;
  margin-left: auto;
}

.lead {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.lead__num {
  color: #f9d59b;
  left: 50px;
  top: 50px;
  right: auto;
  z-index: 3;
}

.lead__pic {
  width: 40%;
}

.lead__pic-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  z-index: 1;
}

.lead__content {
  width: 60%;
  background: url("../img/how-back.svg") no-repeat;
  background-size: auto 100%;
  padding-left: 145px;
  padding-top: 75px;
  padding-bottom: 130px;
}

.lead__title {
  max-width: 620px;
  color: #ffffff;
  margin-bottom: 25px;
}

.lead__text {
  font-size: 20px;
  line-height: 27px;
  color: #f9d59b;
}

.lead__form-wrapper {
  margin-top: 110px;
  max-width: 356px;
  min-height: 505px;
}

.lead__form-wrapper::before {
  content: "";
  border: 1px solid #f9d59b;
  position: absolute;
  right: -195px;
  bottom: -60px;
  width: 918px;
  height: 625px;
}

.instruction {
  background-color: #FFFFFF;
  position: relative;
  padding-top: 60px;
  margin-bottom: 0 !important;
}

@media screen and (min-width: 1280px) {
  .instruction {
    padding-top: 108px;
  }
}

.instruction .container {
  padding: 0 60px;
}

@media screen and (min-width: 982px) {
  .instruction .container {
    padding: 0 112px 0 114px;
  }
}

.instruction__num {
  display: none;
  position: absolute;
  top: 110px;
  right: 113px;
  color: #E7E3DB;
}

@media screen and (min-width: 806px) {
  .instruction__num {
    display: block;
  }
}

@media screen and (min-width: 1280px) {
  .instruction__num {
    display: block;
    top: 0px;
  }
}

.instruction__title {
  max-width: 876px;
  width: 100%;
  margin-bottom: 60px;
  text-align: center;
  font-size: 30px;
}

@media screen and (min-width: 768px) {
  .instruction__title {
    font-size: 48px;
    text-align: left;
    margin-bottom: 114px;
  }
}

.instruction__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.instruction__inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  row-gap: 50px;
  margin-bottom: 108px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .instruction__inner {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 982px) {
  .instruction__inner {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    row-gap: 50px;
  }
}

@media screen and (min-width: 1380px) {
  .instruction__inner {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-grid-columns: 119px 170px 151px 170px 109px 170px;
        grid-template-columns: 119px 170px 151px 170px 109px 170px;
    gap: 65px;
  }
}

.instruction__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  position: relative;
}

.instruction__box::after {
  display: none;
  position: absolute;
  top: 12px;
  left: 92px;
  content: '';
  width: 16px;
  height: 16px;
  background-image: url(../img/instruction/arrows.svg);
  background-size: contain;
}

@media screen and (min-width: 768px) {
  .instruction__box::after {
    display: block;
  }
}

.instruction__box:nth-child(2)::after {
  left: 140px;
}

.instruction__box:nth-child(3)::after {
  left: 118px;
}

.instruction__box:nth-child(4)::after {
  left: 130px;
}

.instruction__box:last-child::after {
  display: none;
}

@media screen and (min-width: 768px) {
  .instruction__box {
    min-width: 119px;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .instruction__box:nth-child(2) {
    max-width: 170px;
    width: 100%;
  }
  .instruction__box:nth-child(3) {
    max-width: 151px;
    width: 100%;
  }
  .instruction__box:nth-child(4) {
    max-width: 170px;
    width: 100%;
  }
  .instruction__box:last-child {
    max-width: 170px;
    width: 100%;
  }
}

.instruction__img-box {
  position: relative;
  margin-bottom: 20px;
}

.instruction__text {
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  max-width: 200px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .instruction__text {
    text-align: left;
    max-width: none;
  }
}

.instruction__btn {
  min-height: 57px;
  max-width: 512px;
  width: 100%;
  border: none;
  border-radius: 5px;
  background: #000000;
  color: #FFFFFF;
  font-size: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  padding: 0 30px;
}

.instruction__icon {
  margin-right: 15px;
}

.testimonials {
  padding-top: 157px;
  background-color: #FFFFFF;
  position: relative;
}

.testimonials .container {
  padding: 60px;
}

.testimonials__num {
  display: none;
  position: absolute;
  left: 66px;
  top: 48px;
  color: #E7E3DB;
  width: 216px;
}

@media screen and (min-width: 992px) {
  .testimonials__num {
    display: block;
  }
}

.testimonials .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonials__tabs {
  margin-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.testimonials__tab {
  display: none;
}

.testimonials__tab.active {
  display: block;
}

.testimonials__btn-tab {
  font-size: 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.testimonials__btn-tab:first-child {
  margin-right: 50px;
}

.testimonials__btn-tab.active {
  position: relative;
}

.testimonials__btn-tab.active:last-child::before {
  position: absolute;
  content: '';
  width: 88px;
  height: 6px;
  background-color: #E7E3DB;
  bottom: -2px;
  left: 0px;
}

.testimonials__btn-tab.active::before {
  position: absolute;
  content: '';
  width: 82px;
  height: 6px;
  background-color: #E7E3DB;
  bottom: -2px;
  left: -8px;
}

.testimonials__title {
  margin-bottom: 59px;
}

.testimonials__text {
  margin-bottom: 43px;
  max-width: 718px;
  width: 100%;
  text-align: center;
  font-size: 20px;
  line-height: 27px;
  font-weight: 400;
}

.testimonials__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 825px;
  width: 100%;
  margin-bottom: 75px;
}

@media screen and (min-width: 900px) {
  .testimonials__inner {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.testimonials__img {
  width: 80%;
}

@media screen and (min-width: 900px) {
  .testimonials__img {
    width: 100%;
  }
}

.testimonials__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.testimonials__box:first-child {
  border-bottom: 3px solid #E7E3DB;
  padding-bottom: 40px;
}

@media screen and (min-width: 900px) {
  .testimonials__box:first-child {
    padding-bottom: 0;
    padding-right: 112px;
    border-right: 3px solid #E7E3DB;
    border-bottom: none;
  }
}

.testimonials__box:last-child {
  padding-top: 40px;
}

@media screen and (min-width: 900px) {
  .testimonials__box:last-child {
    padding-top: 0;
    padding-left: 88px;
  }
}

.testimonials__btn {
  cursor: pointer;
  border: none;
  background-color: transparent;
  text-decoration: underline;
  font-size: 15px;
  position: relative;
}

.testimonials__btn::before {
  position: absolute;
  content: '';
  background-image: url(../img/testimonials/btn_pseudo.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 18px;
  height: 18px;
  left: -30px;
}

.testimonials__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .testimonials__content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.testimonials__box-review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonials__box-review:not(:last-child) {
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .testimonials__box-review:not(:last-child) {
    margin-right: 70px;
  }
}

@media screen and (min-width: 992px) {
  .testimonials__box-review:not(:last-child) {
    margin-right: 142px;
  }
}

.testimonials__box-photo {
  margin-bottom: 30px;
}

.testimonials__text-name {
  margin-bottom: 45px;
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
  position: relative;
  text-align: center;
}

.testimonials__text-name::after {
  content: '';
  position: absolute;
  width: 35px;
  height: 3px;
  background-color: #E7E3DB;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 45px;
}

.testimonials__quote {
  max-width: 249px;
  width: 100%;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
}
/*# sourceMappingURL=style.css.map */