@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Prata&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Prata", serif;
  z-index: 2;
  position: relative;
}

section {
  margin-bottom: 90px;
  position: relative;
}

h2 {
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 65px;
  color: #000000;
}

.page__frame {
  position: fixed;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  border: 1px solid #000000;
  left: 10px;
  top: 10px;
  pointer-events: none;
  z-index: 10;
}

.page__frame-btn {
  -webkit-transform: rotate(-90deg) translate(-65px, -10px);
      -ms-transform: rotate(-90deg) translate(-65px, -10px);
          transform: rotate(-90deg) translate(-65px, -10px);
  font-family: "Montserrat", serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: normal;
  font-size: 9px;
  line-height: 11px;
  text-transform: uppercase;
  color: #000000;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  background: none;
  cursor: pointer;
  position: relative;
  pointer-events: auto;
}

.page__frame-btn:hover {
  opacity: 0.5;
}

.page__frame-burger {
  width: 20px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 20px;
}

.page__frame-burger span {
  display: block;
  width: 100%;
  height: 1px;
  background-color: #000000;
}

.num {
  font-size: 160px;
  text-align: center;
  color: #ffffff;
  position: absolute;
  z-index: 1;
  right: 0;
  bottom: 0;
  height: 185px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 35px;
  padding-bottom: 33px;
}

.header__social:last-child {
  text-align: right;
}

.header__social-link {
  color: #000000;
  font-size: 20px;
  line-height: 27px;
  text-decoration: none;
  margin-bottom: 12px;
}

.header__social-text {
  color: #000000;
  font-size: 13px;
  line-height: 18px;
  border-bottom: 1px solid #e7e3db;
}

.header__logo-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 130px;
}

.header__logo-img {
  max-width: 150px;
  max-height: 67px;
  margin-bottom: 12px;
}

.header__logo-text {
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  color: #000000;
}

.intro {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: calc(100vh - 350px);
  min-height: 410px;
  max-height: 524px;
  margin-bottom: 250px;
}

.intro__num {
  font-size: 240px;
  height: 240px;
}

.intro__photo-slider {
  max-width: 100vw;
  height: 100%;
  max-height: 544px;
  min-height: 400px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.intro__photo-slider .swiper-slide {
  position: relative;
}

.intro__photo-slider .swiper-slide::before {
  content: "";
  background: rgba(45, 60, 82, 0.22);
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
}

.intro__photo-slider .swiper-slide img {
  width: 100%;
  height: 100%;
  max-height: 544px;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

.intro__inner {
  max-width: 1440px;
  width: 100%;
  margin: auto;
  padding-left: 55px;
}

.intro__title {
  font-weight: lighter;
  position: relative;
  font-size: 60px;
  line-height: 70px;
  color: #ffffff;
  max-width: 685px;
  margin-bottom: 55px;
}

.intro__title span {
  font-size: 32px;
  line-height: 45px;
  color: #f9d59b;
  display: block;
}

.intro__subtitle {
  max-width: 464px;
  position: relative;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  color: #ffffff;
}

.intro__subtitle::before {
  content: "";
  width: 138px;
  height: 1px;
  background-color: #ffffff;
  display: block;
  margin-bottom: 18px;
}

.intro__bottom {
  display: -ms-grid;
  display: grid;
  margin-top: 60px;
  position: absolute;
  bottom: -155px;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 90px;
}

.intro__bottom-link {
  background: #e7e3db;
  border-radius: 5px;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  padding: 0 30px;
  height: 54px;
  margin-top: 13px;
}

.intro__bottom-link_left {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.intro__bottom-link_left img {
  margin-left: 10px;
  height: 17px;
}

.intro__bottom-link_right {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.intro__bottom-link_right img {
  margin-right: 10px;
  height: 22px;
}

.intro__bottom-slider {
  overflow: hidden;
  padding-bottom: 40px;
}

.intro__bottom-slider .swiper-slide {
  text-align: center;
}

.intro__bottom-slider .swiper-slide p {
  max-width: 270px;
  margin: auto;
}

.intro__bottom-slider .swiper-pagination-bullet {
  background: #000000;
}

.program {
  width: 100%;
  overflow: hidden;
}

.program__inner {
  max-width: 1220px;
  margin-left: auto;
  margin-right: auto;
}

.program__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.program__title {
  max-width: 617px;
  margin-right: 72px;
}

.program__num {
  color: #e7e3db;
  position: static;
  margin-right: auto;
}

.program__slider-actions {
  width: 100px;
  height: 185px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.program__slider-actions button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  cursor: pointer;
  background: none;
  height: 22px;
}

.program__slider-actions button svg {
  width: 9.2px;
  height: 12.8px;
}

.program__slider-nums {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: static;
}

.program__slider {
  margin-top: 130px;
}

.program__slider .swiper-slide {
  max-width: 318px;
  position: relative;
}

.program__slider .swiper-slide::before {
  content: "";
  border: 1px solid #000000;
  width: 100%;
  height: 230px;
  display: block;
  position: absolute;
  top: 88px;
  left: 0;
}

.program__slider .swiper-slide__pic {
  width: 283px;
  height: 264px;
  display: block;
  margin: auto;
  margin-bottom: 25px;
  position: relative;
}

.program__slider .swiper-slide__pic img {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.program__slider .swiper-slide p {
  margin: auto;
  max-width: 250px;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: #000000;
  background: #fff;
  position: relative;
}

.program__slider .swiper-slide button {
  background: #e7e3db;
  border-radius: 3px;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-align: center;
  display: block;
  width: 100%;
  padding: 10px 0;
  border: none;
  margin-top: 30px;
  cursor: pointer;
}

.how {
  background-color: #1a1a1a;
  overflow: hidden;
}

.how input {
  display: none;
}

.how::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  background: url("../img/how-back.svg") no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.how__inner {
  padding-top: 150px;
  padding-bottom: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1450px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 145px;
  gap: 100px;
}

.how__content {
  width: 100%;
  max-width: 464px;
  border: 1px solid #ffffff;
  padding: 30px;
  margin-top: 130px;
}

.how__content-box {
  display: none;
}

.how__content-title {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 45px;
}

.how__content-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.how__content-list-pic {
  position: absolute;
  right: 148px;
}

.how__content-list ul {
  margin-left: auto;
  width: 148px;
  list-style-type: none;
}

.how__content-list ul li {
  font-size: 15px;
  line-height: 20px;
  color: #ffffff;
  padding-left: 40px;
  padding-bottom: 5px;
  border-bottom: 1px dashed #f9d59b;
  margin-bottom: 25px;
}

.how__content-list ul li:last-child {
  border: none;
  margin-bottom: 0;
}

.how__body-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 35px;
}

.how__title {
  color: #ffffff;
  margin-right: 15px;
}

.how__num {
  color: #f9d59b;
  position: static;
}

.how__subtitle {
  font-size: 20px;
  line-height: 27px;
  color: #f9d59b;
  max-width: 586px;
  margin-bottom: 75px;
}

.how__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 70px;
  max-width: 580px;
  list-style-type: none;
}

.how__list-item {
  display: block;
}

.how__list-item label {
  cursor: pointer;
  font-size: 15px;
  line-height: 20px;
  color: #ffffff;
  padding: 10px 5px 10px 20px;
  display: block;
  border: 2px solid transparent;
  border-left: 2px solid #ffffff;
  height: 100%;
}

#how0:checked ~ .how__inner .box-0,
#how1:checked ~ .how__inner .box-1,
#how2:checked ~ .how__inner .box-2 {
  display: block;
}

#how0:checked ~ .how__inner #how-label-0,
#how1:checked ~ .how__inner #how-label-1,
#how2:checked ~ .how__inner #how-label-2 {
  border: 2px solid #f9d59b;
  color: #f9d59b;
}
/*# sourceMappingURL=style.css.map */